div {
    background-color: yellow;
}

/* form {
    background-color:red;
} */

input {
    background-color: inherit;
}

button {
    background-color: inherit;
}

button:hover {
    background-color: red;
}

#inheritance_demo {
    background-color: blue;
    color: white;
}

#pera_inheritance_demo {
    background-color: yellow;
    color: black;
}